body {
    padding-top: 100px;
    background-image: url("proj_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.nav-pills .nav-link {
  color: white;
}

.nav-pills .nav-link.active {
  background-color: #0d6efd; 
  color: #fff !important;
}

.main-card {
    background-color: rgba(248, 246, 246, 0.658);
    box-shadow: 0 0 19px rgba(0, 0, 0, 0.3);
}
.txt1 {
    color: #2958a0;
    font-size: 25px;
}